## CorrelationKC
#Hackathon
#Team: Gauntlet

In [1]:
#importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR

In [2]:
df=pd.read_csv("Data_Set")

In [3]:
df.head()

,County,Census Tract,Block Group,Block Group Concatenation,Population,Male,Female,White,Black,Native American,...,Current Students 3 Years Or Older In Private Elementary Or High School,Highest Education Achieved By Persons 25 Or Older - Less Than 9th Grade,Highest Education Achieved By Persons 25 Or Older - 9th To 12th Grade,Highest Education Achieved By Persons 25 Or Older - High School Graduate,"Highest Education Achieved By Persons 25 Or Older - College, But Less Than Ba Degree","Highest Education Achieved By Persons 25 Or Older - College, Ba Degree Or More",Youth 16 To 19 Years Old Enrolled In School And Employed,Youth 16 To 19 Years Old Enrolled In School And Unemployed,Youth 16 To 19 Years Old Not Enrolled In School And Employed,Youth 16 To 19 Years Old Not Enrolled In School And Unemployed
0,Cass,600.01,1,600.01-1,967,478,489,901,30,0,...,84,22,15,86,178,416,6,14,0,0
1,Cass,600.01,2,600.01-2,1597,779,818,1396,98,5,...,55,14,20,353,327,290,43,49,0,29
2,Cass,600.01,3,600.01-3,1624,813,811,1465,50,4,...,47,39,74,380,361,256,50,19,28,0
3,Cass,600.03,1,600.03-1,1264,589,675,1111,52,6,...,20,0,156,214,317,180,19,47,0,0
4,Cass,600.03,2,600.03-2,2090,1031,1059,1762,165,12,...,11,33,85,438,559,312,27,0,15,0

In [4]:
df_required = df[["County",
"Population",
"Male",
"Female",
"White",
"Black",
"Minority",
"Housing Units",
"Aggregate Rent Spent By All Renter Housing Units",
"Rental Units For Which Rent Expenditures Calculated",
"Occupation Of Residents 16 Or Older - Professional And Managerial",
"Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support",
"Occupation Of Residents 16 Or Older - Services",
"Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing",
"Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance",
"Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving",
"Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers",
"Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers",
"Work Classification Of Residents 16 Or Older - Government Workers",
"Work Classification Of Residents 16 Or Older - Self-Employed Workers",
"Work Classification Of Residents 16 Or Older - Unpaid Family Workers",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Walked",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home",
"Households With Income Less Than $10,000",
"Households With Income $10,000-$14,999",
"Households With Income $15,000-$19,999",
"Households With Income $20,000-$24,999",
"Households With Income $25,000-$29,999",
"Households With Income $30,000-$34,999",
"Households With Income $35,000-$39,999",
"Households With Income $40,000-$44,999",
"Households With Income $45,000-$49,999",
"Households With Income $50,000-$59,999",
"Households With Income $60,000-$74,999",
"Households With Income $75,000-$99,999",
"Households With Income $100,000-$124,999",
"Households With Income $125,000-$149,999",
"Households With Income $150,000-$199,999",
"Households With Income $200,000 Or More",
"White Persons Among Whom Poverty Status Was Determined",
"Black Persons Among Whom Poverty Status Was Determined",
"Persons In Poverty",
"White Persons In Poverty",
"Black Persons In Poverty"]]

In [5]:
df_required.describe()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
count,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,8.200000e+02,820.000000,820.000000,...,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000
mean,1323.045122,642.401220,680.643902,993.107317,221.536585,374.997561,591.800000,1.161368e+05,183.558537,235.217073,...,66.901220,40.706098,19.782927,18.654878,12.739024,987.298780,314.810976,178.376829,97.419512,64.813415
std,747.586926,363.375891,388.692451,767.014360,278.585994,308.053022,298.744163,1.375785e+05,184.340749,199.614321,...,61.504767,45.232248,26.244864,29.500923,25.996857,757.985786,551.755544,147.296660,90.876331,97.969560
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,795.500000,387.750000,408.750000,480.750000,34.750000,141.750000,376.000000,3.695100e+04,55.000000,87.750000,...,23.000000,8.000000,0.000000,0.000000,0.000000,473.000000,38.000000,75.000000,37.000000,1.000000
50%,1078.000000,532.500000,558.000000,803.000000,99.000000,264.500000,506.500000,7.243650e+04,131.500000,181.000000,...,50.500000,26.000000,10.000000,7.000000,0.000000,800.500000,126.500000,142.000000,75.000000,20.000000
75%,1670.000000,801.250000,869.250000,1372.000000,311.500000,539.500000,731.250000,1.396342e+05,244.000000,329.000000,...,95.000000,58.250000,28.000000,27.000000,13.000000,1357.750000,415.750000,232.000000,129.250000,87.000000
max,6096.000000,3024.000000,3072.000000,5711.000000,1672.000000,1916.000000,2233.000000,1.270625e+06,1246.000000,1208.000000,...,404.000000,298.000000,183.000000,238.000000,242.000000,5025.000000,8237.000000,1336.000000,884.000000,729.000000

In [6]:
df_required.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 51 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   County                                                                                     820 non-null    object
 1   Population                                                                                 820 non-null    int64
 2   Male                                                                                       820 non-null    int64
 3   Female                                                                                     820 non-null    int64
 4   White                                                                                      820 non-null    int64
 5   Black                                                                                      820 non-null    int64
 6   Minority                                                                                   820 non-null    int64
 7   Housing Units                                                                              820 non-null    int64
 8   Aggregate Rent Spent By All Renter Housing Units                                           820 non-null    float64
 9   Rental Units For Which Rent Expenditures Calculated                                        820 non-null    int64
 10  Occupation Of Residents 16 Or Older - Professional And Managerial                          820 non-null    int64
 11  Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support             820 non-null    int64
 12  Occupation Of Residents 16 Or Older - Services                                             820 non-null    int64
 13  Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                        820 non-null    int64
 14  Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance             820 non-null    int64
 15  Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving       820 non-null    int64
 16  Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers  820 non-null    int64
 17  Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers  820 non-null    int64
 18  Work Classification Of Residents 16 Or Older - Government Workers                          820 non-null    int64
 19  Work Classification Of Residents 16 Or Older - Self-Employed Workers                       820 non-null    int64
 20  Work Classification Of Residents 16 Or Older - Unpaid Family Workers                       820 non-null    int64
 21  Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                      820 non-null    int64
 22  Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                          820 non-null    int64
 23  Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                   820 non-null    int64
 24  Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                          820 non-null    int64
 25  Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                       820 non-null    int64
 26  Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                          820 non-null    int64
 27  Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                           820 non-null    int64
 28  Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                      820 non-null    int64
 29  Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                   820 non-null    int64
 30  Households With Income Less Than $10,000                                                   820 non-null    int64
 31  Households With Income $10,000-$14,999                                                     820 non-null    int64
 32  Households With Income $15,000-$19,999                                                     820 non-null    int64
 33  Households With Income $20,000-$24,999                                                     820 non-null    int64
 34  Households With Income $25,000-$29,999                                                     820 non-null    int64
 35  Households With Income $30,000-$34,999                                                     820 non-null    int64
 36  Households With Income $35,000-$39,999                                                     820 non-null    int64
 37  Households With Income $40,000-$44,999                                                     820 non-null    int64
 38  Households With Income $45,000-$49,999                                                     820 non-null    int64
 39  Households With Income $50,000-$59,999                                                     820 non-null    int64
 40  Households With Income $60,000-$74,999                                                     820 non-null    int64
 41  Households With Income $75,000-$99,999                                                     820 non-null    int64
 42  Households With Income $100,000-$124,999                                                   820 non-null    int64
 43  Households With Income $125,000-$149,999                                                   820 non-null    int64
 44  Households With Income $150,000-$199,999                                                   820 non-null    int64
 45  Households With Income $200,000 Or More                                                    820 non-null    int64
 46  White Persons Among Whom Poverty Status Was Determined                                     820 non-null    int64
 47  Black Persons Among Whom Poverty Status Was Determined                                     820 non-null    int64
 48  Persons In Poverty                                                                         820 non-null    int64
 49  White Persons In Poverty                                                                   820 non-null    int64
 50  Black Persons In Poverty                                                                   820 non-null    int64
dtypes: float64(1), int64(49), object(1)
memory usage: 326.8+ KB

In [7]:
df_required.head()

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
0,Cass,967,478,489,901,30,77,435,60011.0,33,...,42,42,34,44,92,917,9,90,72,0
1,Cass,1597,779,818,1396,98,244,584,53239.0,53,...,123,98,33,6,0,1514,15,149,119,0
2,Cass,1624,813,811,1465,50,220,695,128954.0,177,...,79,88,45,5,0,1540,16,151,121,0
3,Cass,1264,589,675,1111,52,246,584,170911.0,293,...,33,7,1,4,0,1084,122,176,102,74
4,Cass,2090,1031,1059,1762,165,400,781,120586.0,95,...,176,61,8,11,53,1792,201,291,168,123

In [8]:
df_train_data=df_required.sample(frac=0.8)

In [9]:
df_test_data=df_required.sample(frac=0.2)

In [10]:
pd.DataFrame(df_train_data).to_csv('train_file.csv')

In [11]:
df_train_data

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
8,Cass,997,515,482,757,61,273,452,90441.0,141,...,11,7,9,0,0,877,18,153,147,0
460,Jackson,2089,1028,1061,1751,156,412,1003,202668.0,394,...,32,63,0,0,0,1635,156,624,330,80
583,Jackson,3220,1650,1570,3122,19,119,1262,64086.0,169,...,253,128,82,89,53,3149,0,76,76,0
775,Platte,2086,1014,1072,1663,257,530,947,291840.0,428,...,93,77,46,81,19,1619,271,165,71,83
54,Cass,2301,1076,1225,1783,366,561,997,609672.0,527,...,102,34,28,6,0,1832,254,390,327,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Jackson,1600,792,808,1412,34,243,567,5071.0,0,...,68,28,25,20,0,1375,38,194,148,22
603,Jackson,1968,934,1034,1493,313,523,777,351278.0,428,...,189,42,8,0,0,1640,121,214,151,8
331,Jackson,1555,764,791,265,1237,1298,728,203345.0,294,...,67,2,2,5,0,200,1244,290,62,198
467,Jackson,792,407,385,641,89,193,442,60642.0,137,...,23,19,14,0,0,615,60,160,142,17
238,Jackson,1277,643,634,536,173,980,478,112668.0,222,...,0,0,3,10,0,531,349,535,254,154

In [12]:
pd.DataFrame(df_test_data).to_csv('test_file.csv')

In [13]:
df_test_data

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
785,Platte,1720,871,849,1412,135,369,622,145606.0,151,...,97,56,55,79,61,1229,344,145,3,142
516,Jackson,1953,908,1045,465,1318,1537,1006,281305.0,531,...,55,0,0,3,17,543,1277,409,42,311
606,Jackson,1715,851,864,1576,65,177,615,72506.0,70,...,156,47,22,0,0,1564,94,95,92,0
743,Jackson,1372,691,681,1292,44,131,485,39080.0,23,...,93,66,52,31,59,1121,106,33,25,8
665,Jackson,1061,532,529,1000,5,84,432,47725.0,118,...,32,8,4,0,0,1011,11,58,56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Clay,1100,537,563,818,181,330,611,391665.0,517,...,72,35,21,2,12,834,834,227,97,97
124,Clay,1185,566,619,1048,49,189,512,58968.0,145,...,71,51,34,28,30,1101,50,69,50,17
734,Jackson,687,399,288,397,213,329,465,114650.0,228,...,17,4,0,6,28,300,283,304,75,183
362,Jackson,954,447,507,545,355,432,486,28918.0,48,...,106,52,12,25,7,825,97,52,51,0
230,Jackson,691,349,342,276,221,474,306,61621.0,103,...,15,0,0,0,0,190,263,220,30,152

In [14]:
# Fit regression model
svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
svr_lin = SVR(kernel='linear', C=100, gamma='auto')
svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1,
               coef0=1)

In [15]:
df_county=df_train_data.groupby("County")

In [16]:
df_county.head()

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
8,Cass,997,515,482,757,61,273,452,90441.0,141,...,11,7,9,0,0,877,18,153,147,0
460,Jackson,2089,1028,1061,1751,156,412,1003,202668.0,394,...,32,63,0,0,0,1635,156,624,330,80
583,Jackson,3220,1650,1570,3122,19,119,1262,64086.0,169,...,253,128,82,89,53,3149,0,76,76,0
775,Platte,2086,1014,1072,1663,257,530,947,291840.0,428,...,93,77,46,81,19,1619,271,165,71,83
54,Cass,2301,1076,1225,1783,366,561,997,609672.0,527,...,102,34,28,6,0,1832,254,390,327,46
163,Clay,1426,716,710,1250,72,216,657,175671.0,293,...,43,23,0,0,0,1307,28,195,149,21
563,Jackson,1468,486,982,1400,32,85,1498,1270625.0,997,...,22,23,0,0,0,1233,152,140,66,68
596,Jackson,985,543,442,198,625,860,298,103829.0,244,...,0,0,0,0,0,145,770,615,78,478
704,Jackson,1191,664,527,814,224,438,903,416755.0,703,...,46,20,3,7,35,906,144,276,175,81
808,Platte,1845,907,938,1676,68,232,734,260839.0,294,...,129,110,35,17,22,1672,83,178,174,3
812,Platte,1276,643,633,1249,0,54,512,3289.0,30,...,138,52,22,40,0,1229,96,70,58,3
70,Clay,967,508,459,882,28,126,477,32830.0,58,...,70,38,18,5,0,785,69,48,43,4
85,Clay,1477,738,739,1347,40,182,588,69349.0,104,...,81,30,0,0,0,1362,84,251,229,20
63,Clay,875,413,462,820,11,91,425,25773.0,50,...,46,27,25,7,0,812,1333,27,27,33
800,Platte,2115,1071,1044,1810,132,394,759,0.0,21,...,147,146,79,32,19,1872,1872,126,114,114
144,Clay,1552,787,765,1450,29,156,588,52953.0,84,...,55,79,47,45,32,1425,74,192,177,6
811,Platte,703,375,328,623,23,113,424,83307.0,176,...,40,4,3,2,0,677,53,39,32,1
29,Cass,1422,690,732,1352,10,121,609,130100.0,237,...,50,9,8,26,3,1278,6,144,142,3
19,Cass,1860,830,1030,1726,50,158,832,122346.0,215,...,82,32,11,10,0,1779,20,48,41,3
30,Cass,778,355,423,726,13,65,394,128867.0,220,...,0,0,0,0,0,619,86,132,111,16

In [17]:
df_county

In [18]:
df_county.mean()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
County,,,,,,,,,,,,,,,,,,,,,
Cass,1732.782609,846.608696,886.173913,1593.760870,54.760870,177.717391,695.108696,91929.130435,147.282609,269.782609,...,95.347826,58.500000,25.456522,21.282609,11.304348,1577.847826,52.608696,150.934783,136.173913,8.521739
Clay,1461.767241,715.758621,746.008621,1275.810345,78.500000,235.387931,625.008621,114025.112069,175.344828,282.931034,...,83.965517,55.086207,25.258621,20.603448,14.362069,1272.887931,398.741379,122.637931,97.474138,30.706897
Jackson,1236.565315,597.668919,638.896396,825.306306,297.024775,456.578829,571.594595,119530.772523,194.587838,208.826577,...,56.400901,32.067568,15.635135,15.844595,10.835586,821.250000,299.268018,207.718468,98.671171,80.486486
Platte,1458.840000,715.660000,743.180000,1264.720000,91.960000,240.200000,641.540000,163228.280000,205.040000,326.160000,...,85.200000,63.560000,37.160000,36.860000,28.400000,1265.620000,561.300000,102.700000,75.860000,57.140000

In [19]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 8 to 238
Data columns (total 51 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   County                                                                                     656 non-null    object
 1   Population                                                                                 656 non-null    int64
 2   Male                                                                                       656 non-null    int64
 3   Female                                                                                     656 non-null    int64
 4   White                                                                                      656 non-null    int64
 5   Black                                                                                      656 non-null    int64
 6   Minority                                                                                   656 non-null    int64
 7   Housing Units                                                                              656 non-null    int64
 8   Aggregate Rent Spent By All Renter Housing Units                                           656 non-null    float64
 9   Rental Units For Which Rent Expenditures Calculated                                        656 non-null    int64
 10  Occupation Of Residents 16 Or Older - Professional And Managerial                          656 non-null    int64
 11  Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support             656 non-null    int64
 12  Occupation Of Residents 16 Or Older - Services                                             656 non-null    int64
 13  Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                        656 non-null    int64
 14  Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance             656 non-null    int64
 15  Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving       656 non-null    int64
 16  Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers  656 non-null    int64
 17  Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers  656 non-null    int64
 18  Work Classification Of Residents 16 Or Older - Government Workers                          656 non-null    int64
 19  Work Classification Of Residents 16 Or Older - Self-Employed Workers                       656 non-null    int64
 20  Work Classification Of Residents 16 Or Older - Unpaid Family Workers                       656 non-null    int64
 21  Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                      656 non-null    int64
 22  Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                          656 non-null    int64
 23  Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                   656 non-null    int64
 24  Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                          656 non-null    int64
 25  Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                       656 non-null    int64
 26  Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                          656 non-null    int64
 27  Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                           656 non-null    int64
 28  Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                      656 non-null    int64
 29  Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                   656 non-null    int64
 30  Households With Income Less Than $10,000                                                   656 non-null    int64
 31  Households With Income $10,000-$14,999                                                     656 non-null    int64
 32  Households With Income $15,000-$19,999                                                     656 non-null    int64
 33  Households With Income $20,000-$24,999                                                     656 non-null    int64
 34  Households With Income $25,000-$29,999                                                     656 non-null    int64
 35  Households With Income $30,000-$34,999                                                     656 non-null    int64
 36  Households With Income $35,000-$39,999                                                     656 non-null    int64
 37  Households With Income $40,000-$44,999                                                     656 non-null    int64
 38  Households With Income $45,000-$49,999                                                     656 non-null    int64
 39  Households With Income $50,000-$59,999                                                     656 non-null    int64
 40  Households With Income $60,000-$74,999                                                     656 non-null    int64
 41  Households With Income $75,000-$99,999                                                     656 non-null    int64
 42  Households With Income $100,000-$124,999                                                   656 non-null    int64
 43  Households With Income $125,000-$149,999                                                   656 non-null    int64
 44  Households With Income $150,000-$199,999                                                   656 non-null    int64
 45  Households With Income $200,000 Or More                                                    656 non-null    int64
 46  White Persons Among Whom Poverty Status Was Determined                                     656 non-null    int64
 47  Black Persons Among Whom Poverty Status Was Determined                                     656 non-null    int64
 48  Persons In Poverty                                                                         656 non-null    int64
 49  White Persons In Poverty                                                                   656 non-null    int64
 50  Black Persons In Poverty                                                                   656 non-null    int64
dtypes: float64(1), int64(49), object(1)
memory usage: 266.5+ KB

In [20]:
df_train_data.describe()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
count,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,6.560000e+02,656.000000,656.000000,...,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000
mean,1328.125000,645.000000,683.125000,992.346037,225.765244,381.419207,595.032012,1.199523e+05,188.664634,235.147866,...,66.201220,40.391768,19.666159,18.669207,12.830793,988.036585,319.533537,180.687500,99.350610,64.858232
std,741.130782,359.811333,386.208131,763.585600,284.490448,312.996563,299.528893,1.452643e+05,190.805925,200.500019,...,60.214749,45.266713,26.797285,29.560992,26.060359,757.019805,570.727706,150.368387,94.396285,96.707174
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,799.000000,390.000000,409.750000,460.750000,36.000000,145.000000,374.500000,3.722475e+04,58.000000,86.750000,...,23.000000,7.000000,0.000000,0.000000,0.000000,464.000000,39.000000,75.000000,36.000000,1.000000
50%,1093.000000,537.000000,561.000000,806.500000,100.000000,272.500000,509.000000,7.407650e+04,132.500000,177.500000,...,51.000000,25.000000,9.000000,6.000000,0.000000,792.500000,127.500000,142.000000,76.000000,20.500000
75%,1693.000000,808.500000,884.000000,1381.500000,302.250000,550.750000,743.250000,1.396342e+05,245.000000,329.000000,...,94.250000,57.250000,27.250000,28.000000,13.000000,1375.000000,405.750000,236.000000,134.250000,88.750000
max,4468.000000,2176.000000,2415.000000,4201.000000,1574.000000,1751.000000,2053.000000,1.270625e+06,1246.000000,1208.000000,...,384.000000,263.000000,183.000000,238.000000,242.000000,4216.000000,8237.000000,1336.000000,884.000000,729.000000

In [21]:
df_train_data_num=df_train_data.select_dtypes(include=[np.number])

In [22]:
df_train_data_cat=df_train_data.select_dtypes(include=['object'])

In [23]:
df_train_data_num.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Population,656.0,1328.125000,741.130782,0.0,799.00,1093.0,1693.00,4468.0
Male,656.0,645.000000,359.811333,0.0,390.00,537.0,808.50,2176.0
Female,656.0,683.125000,386.208131,0.0,409.75,561.0,884.00,2415.0
White,656.0,992.346037,763.585600,0.0,460.75,806.5,1381.50,4201.0
Black,656.0,225.765244,284.490448,0.0,36.00,100.0,302.25,1574.0
Minority,656.0,381.419207,312.996563,0.0,145.00,272.5,550.75,1751.0
Housing Units,656.0,595.032012,299.528893,0.0,374.50,509.0,743.25,2053.0
Aggregate Rent Spent By All Renter Housing Units,656.0,119952.332317,145264.342566,0.0,37224.75,74076.5,139634.25,1270625.0
Rental Units For Which Rent Expenditures Calculated,656.0,188.664634,190.805925,0.0,58.00,132.5,245.00,1246.0
Occupation Of Residents 16 Or Older - Professional And Managerial,656.0,235.147866,200.500019,0.0,86.75,177.5,329.00,1208.0
"Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support",656.0,171.397866,120.474489,0.0,82.75,140.5,231.25,720.0
Occupation Of Residents 16 Or Older - Services,656.0,109.221037,77.926947,0.0,58.00,92.0,145.00,556.0
"Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing",656.0,1.108232,5.103706,0.0,0.00,0.0,0.00,63.0
"Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance",656.0,53.091463,53.725490,0.0,14.00,40.0,75.00,352.0
"Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving",656.0,81.019817,62.071674,0.0,36.75,67.5,112.25,463.0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers,656.0,451.658537,290.874694,0.0,239.75,373.5,595.75,1787.0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers,656.0,63.515244,55.080563,0.0,24.00,50.0,87.00,296.0
Work Classification Of Residents 16 Or Older - Government Workers,656.0,83.911585,69.318062,0.0,33.00,66.5,117.25,475.0
Work Classification Of Residents 16 Or Older - Self-Employed Workers,656.0,51.074695,52.455453,0.0,14.00,35.0,72.00,355.0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers,656.0,0.797256,4.586078,0.0,0.00,0.0,0.00,60.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone,656.0,529.722561,352.395513,0.0,273.50,434.0,705.00,2046.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool,656.0,58.836890,55.143055,0.0,19.00,46.0,79.00,323.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,656.0,11.756098,20.730955,0.0,0.00,0.0,16.00,126.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab,656.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle,656.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle,656.0,1.051829,5.783662,0.0,0.00,0.0,0.00,79.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked,656.0,8.871951,19.921190,0.0,0.00,0.0,10.25,230.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means,656.0,6.631098,15.714957,0.0,0.00,0.0,7.25,186.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home,656.0,23.580793,30.744595,0.0,0.00,14.0,33.00,180.0
"Households With Income Less Than $10,000",656.0,43.810976,49.923676,0.0,10.75,29.5,62.25,501.0
"Households With Income $10,000-$14,999",656.0,28.887195,28.417166,0.0,9.00,20.5,41.00,168.0
"Households With Income $15,000-$19,999",656.0,29.204268,27.531651,0.0,10.00,22.0,42.00,224.0
"Households With Income $20,000-$24,999",656.0,30.847561,27.450851,0.0,12.00,23.0,42.00,202.0
"Households With Income $25,000-$29,999",656.0,31.586890,25.537969,0.0,14.75,26.0,42.00,178.0
"Households With Income $30,000-$34,999",656.0,29.964939,23.501963,0.0,14.00,25.0,41.00,145.0
"Households With Income $35,000-$39,999",656.0,29.493902,23.922967,0.0,12.00,24.0,40.25,174.0
"Households With Income $40,000-$44,999",656.0,26.641768,23.278690,0.0,10.00,21.0,37.00,130.0
"Households With Income $45,000-$49,999",656.0,24.861280,19.977253,0.0,10.00,21.0,34.00,117.0
"Households With Income $50,000-$59,999",656.0,45.428354,34.534166,0.0,21.75,39.0,61.00,249.0
"Households With Income $60,000-$74,999",656.0,54.559451,43.564494,0.0,22.00,45.5,73.25,258.0
"Households With Income $75,000-$99,999",656.0,66.201220,60.214749,0.0,23.00,51.0,94.25,384.0
"Households With Income $100,000-$124,999",656.0,40.391768,45.266713,0.0,7.00,25.0,57.25,263.0
"Households With Income $125,000-$149,999",656.0,19.666159,26.797285,0.0,0.00,9.0,27.25,183.0
"Households With Income $150,000-$199,999",656.0,18.669207,29.560992,0.0,0.00,6.0,28.00,238.0
"Households With Income $200,000 Or More",656.0,12.830793,26.060359,0.0,0.00,0.0,13.00,242.0
White Persons Among Whom Poverty Status Was Determined,656.0,988.036585,757.019805,0.0,464.00,792.5,1375.00,4216.0
Black Persons Among Whom Poverty Status Was Determined,656.0,319.533537,570.727706,0.0,39.00,127.5,405.75,8237.0
Persons In Poverty,656.0,180.687500,150.368387,0.0,75.00,142.0,236.00,1336.0
White Persons In Poverty,656.0,99.350610,94.396285,0.0,36.00,76.0,134.25,884.0
Black Persons In Poverty,656.0,64.858232,96.707174,0.0,1.00,20.5,88.75,729.0

In [24]:
df_train_data_num_corr=df_train_data_num.corr()

## Let's find prediction to "Black Persons In Poverty" Column

In [25]:
df_train_data_num_corr["Black Persons In Poverty"]

Population                                                                                  -0.084495
Male                                                                                        -0.110344
Female                                                                                      -0.059343
White                                                                                       -0.355192
Black                                                                                        0.710092
Minority                                                                                     0.663051
Housing Units                                                                               -0.007981
Aggregate Rent Spent By All Renter Housing Units                                             0.093960
Rental Units For Which Rent Expenditures Calculated                                          0.222109
Occupation Of Residents 16 Or Older - Professional And Managerial                           -0.262019
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support              -0.159304
Occupation Of Residents 16 Or Older - Services                                               0.033557
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                         -0.064494
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance              -0.217689
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving        -0.051763
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers   -0.211847
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers   -0.043860
Work Classification Of Residents 16 Or Older - Government Workers                           -0.150668
Work Classification Of Residents 16 Or Older - Self-Employed Workers                        -0.189555
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0.006063
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                       -0.237359
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                           -0.103097
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0.475622
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                                 NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                              NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                           -0.026748
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0.000858
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0.025220
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                    -0.149019
Households With Income Less Than $10,000                                                     0.504910
Households With Income $10,000-$14,999                                                       0.267844
Households With Income $15,000-$19,999                                                       0.181794
Households With Income $20,000-$24,999                                                       0.134912
Households With Income $25,000-$29,999                                                       0.128309
Households With Income $30,000-$34,999                                                       0.042578
Households With Income $35,000-$39,999                                                      -0.059278
Households With Income $40,000-$44,999                                                      -0.048017
Households With Income $45,000-$49,999                                                      -0.136169
Households With Income $50,000-$59,999                                                      -0.192967
Households With Income $60,000-$74,999                                                      -0.236201
Households With Income $75,000-$99,999                                                      -0.280030
Households With Income $100,000-$124,999                                                    -0.269849
Households With Income $125,000-$149,999                                                    -0.232251
Households With Income $150,000-$199,999                                                    -0.225420
Households With Income $200,000 Or More                                                     -0.165360
White Persons Among Whom Poverty Status Was Determined                                      -0.355103
Black Persons Among Whom Poverty Status Was Determined                                       0.517642
Persons In Poverty                                                                           0.615310
White Persons In Poverty                                                                    -0.042711
Black Persons In Poverty                                                                     1.000000
Name: Black Persons In Poverty, dtype: float64

In [26]:
df_train_data_num_cols = []
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Black Persons In Poverty"]>0.3) ].index.values)
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Black Persons In Poverty"]<-0.3) ].index.values)

In [27]:
df_train_data_num_cols

['Black',
 'Minority',
 'Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit',
 'Households With Income Less Than $10,000',
 'Black Persons Among Whom Poverty Status Was Determined',
 'Persons In Poverty',
 'Black Persons In Poverty',
 'White',
 'White Persons Among Whom Poverty Status Was Determined']

In [28]:
df_train_data_num_col_filtered=df_train_data_num[df_train_data_num_cols]

In [29]:
df_train_data_num_col_filtered.head()

,Black,Minority,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,Black Persons In Poverty,White,White Persons Among Whom Poverty Status Was Determined
8,61,273,0,77,18,153,0,757,877
460,156,412,0,121,156,624,80,1751,1635
583,19,119,0,44,0,76,0,3122,3149
775,257,530,23,22,271,165,83,1663,1619
54,366,561,0,9,254,390,46,1783,1832

In [30]:
(df_train_data_num.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0
Work Classification Of Residents 16 Or Older - Self-Employed Workers                         0
Work Classification Of Residents 16 Or Older - Government Workers                            0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance               0
Occupation Of Residents 16 Or Older - Services                                               0
White Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0
Occupation Of Residents 16 Or Older - Professional And Managerial                            0
Rental Units For Which Rent Expenditures Calculated                                          0
Aggregate Rent Spent By All Renter Housing Units                                             0
Housing Units                                                                                0
Minority                                                                                     0
Black                                                                                        0
White                                                                                        0
Female                                                                                       0
Male                                                                                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0
Persons In Poverty                                                                           0
Black Persons Among Whom Poverty Status Was Determined                                       0
White Persons Among Whom Poverty Status Was Determined                                       0
Households With Income $200,000 Or More                                                      0
Households With Income $150,000-$199,999                                                     0
Households With Income $125,000-$149,999                                                     0
Households With Income $100,000-$124,999                                                     0
Households With Income $75,000-$99,999                                                       0
Households With Income $60,000-$74,999                                                       0
Households With Income $50,000-$59,999                                                       0
Households With Income $45,000-$49,999                                                       0
Households With Income $40,000-$44,999                                                       0
Households With Income $35,000-$39,999                                                       0
Households With Income $30,000-$34,999                                                       0
Households With Income $25,000-$29,999                                                       0
Households With Income $20,000-$24,999                                                       0
Households With Income $15,000-$19,999                                                       0
Households With Income $10,000-$14,999                                                       0
Households With Income Less Than $10,000                                                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0
Population                                                                                   0
dtype: int64

In [31]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace them

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
le=LabelEncoder()

In [34]:
df_train_data_cat.head()

      County
8       Cass
460  Jackson
583  Jackson
775   Platte
54      Cass

In [35]:
(df_train_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [36]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace

In [37]:
df_train_data_cat1=df_train_data_cat.apply(le.fit_transform)

In [38]:
df_train_data_cat1.head()

     County
8         0
460       2
583       2
775       3
54        0

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
Linreg=LinearRegression()

In [41]:
traindf1=pd.concat([df_train_data_num_col_filtered,df_train_data_cat1],axis=1)

In [42]:
X1=traindf1.drop(["Black Persons In Poverty"],axis=1)

In [43]:
y=traindf1["Black Persons In Poverty"]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.3)

In [46]:
df_test_data_num=df_test_data.select_dtypes(include=[np.number])
df_test_data_cat=df_test_data.select_dtypes(include=['object'])

In [47]:
df_train_data_num_cols.remove('Black Persons In Poverty')

In [48]:
df_train_data_num_col_filtered=df_test_data_num[df_train_data_num_cols]

In [49]:
(df_train_data_num_col_filtered.isnull().sum().sort_values(ascending=False))

White Persons Among Whom Poverty Status Was Determined                      0
White                                                                       0
Persons In Poverty                                                          0
Black Persons Among Whom Poverty Status Was Determined                      0
Households With Income Less Than $10,000                                    0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit    0
Minority                                                                    0
Black                                                                       0
dtype: int64

In [50]:
(df_test_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [51]:
df_test_data_cat1=df_test_data_cat.apply(le.fit_transform)

In [52]:
testdf1=pd.concat([df_train_data_num_col_filtered,df_test_data_cat1],axis=1)

In [53]:
testdf1.head()

,Black,Minority,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White,White Persons Among Whom Poverty Status Was Determined,County
785,135,369,7,22,344,145,1412,1229,3
516,1318,1537,71,79,1277,409,465,543,2
606,65,177,18,2,94,95,1576,1564,2
743,44,131,0,11,106,33,1292,1121,2
665,5,84,0,28,11,58,1000,1011,2

In [54]:
from sklearn.tree import DecisionTreeRegressor

In [55]:
DecTree=DecisionTreeRegressor()

In [56]:
from sklearn.ensemble import RandomForestRegressor

In [57]:
RandFor=RandomForestRegressor(n_estimators=5000)

In [58]:
from sklearn.ensemble import GradientBoostingRegressor

In [59]:
GBM=GradientBoostingRegressor(n_estimators=3000)

In [60]:
LM=Linreg.fit(X_train,y_train)

In [61]:
LM.score(X_train,y_train)

0.7777240822404474

In [62]:
dt_M=DecTree.fit(X_train,y_train)

In [63]:
dt_M.score(X_train,y_train)

1.0

In [64]:
rf_M=RandFor.fit(X_train,y_train)

In [65]:
rf_M.score(X_train,y_train)

0.9776811444198237

In [66]:
gb_M=GBM.fit(X_train,y_train)

In [67]:
gb_M.score(X_train,y_train)

0.999999999359107

In [68]:
from sklearn.metrics import accuracy_score, r2_score

In [69]:
gb_y_pred = gb_M.predict(X_test)
rf_y_pred = rf_M.predict(X_test)
lm_y_pred = LM.predict(X_test)

In [70]:
r2_score(y_test,gb_y_pred)

0.9035632299001993

In [71]:
r2_score(y_test,rf_y_pred)

0.9143355086867122

In [72]:
r2_score(y_test,lm_y_pred)

0.8115859524911474

In [73]:
y_eval=gb_M.predict(testdf1)

In [74]:
pd.DataFrame(y_eval).to_csv('black_poverty.csv')

## Let's find prediction to "Households With Income Less Than $10,000" Column

In [75]:
df_train_data_num_corr["Households With Income Less Than $10,000"]

Population                                                                                   0.106144
Male                                                                                         0.082965
Female                                                                                       0.126396
White                                                                                       -0.100625
Black                                                                                        0.443880
Minority                                                                                     0.520875
Housing Units                                                                                0.279510
Aggregate Rent Spent By All Renter Housing Units                                             0.355098
Rental Units For Which Rent Expenditures Calculated                                          0.561087
Occupation Of Residents 16 Or Older - Professional And Managerial                           -0.152383
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0.004641
Occupation Of Residents 16 Or Older - Services                                               0.194104
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                         -0.006265
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance              -0.008701
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0.090151
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0.003660
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0.013593
Work Classification Of Residents 16 Or Older - Government Workers                           -0.100187
Work Classification Of Residents 16 Or Older - Self-Employed Workers                        -0.090128
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0.011295
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                       -0.063653
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0.043017
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0.369609
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                                 NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                              NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0.061871
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0.156230
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0.097424
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                    -0.107161
Households With Income Less Than $10,000                                                     1.000000
Households With Income $10,000-$14,999                                                       0.517538
Households With Income $15,000-$19,999                                                       0.312570
Households With Income $20,000-$24,999                                                       0.250496
Households With Income $25,000-$29,999                                                       0.289364
Households With Income $30,000-$34,999                                                       0.243403
Households With Income $35,000-$39,999                                                       0.142014
Households With Income $40,000-$44,999                                                       0.079994
Households With Income $45,000-$49,999                                                       0.033599
Households With Income $50,000-$59,999                                                      -0.014151
Households With Income $60,000-$74,999                                                      -0.107349
Households With Income $75,000-$99,999                                                      -0.193936
Households With Income $100,000-$124,999                                                    -0.212574
Households With Income $125,000-$149,999                                                    -0.202555
Households With Income $150,000-$199,999                                                    -0.192084
Households With Income $200,000 Or More                                                     -0.145070
White Persons Among Whom Poverty Status Was Determined                                      -0.075317
Black Persons Among Whom Poverty Status Was Determined                                       0.149042
Persons In Poverty                                                                           0.667091
White Persons In Poverty                                                                     0.379197
Black Persons In Poverty                                                                     0.504910
Name: Households With Income Less Than $10,000, dtype: float64

In [76]:
df_train_data_num_cols = []
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Households With Income Less Than $10,000"]>0.3) ].index.values)
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Households With Income Less Than $10,000"]<-0.3) ].index.values)

In [77]:
df_train_data_num_cols

['Black',
 'Minority',
 'Aggregate Rent Spent By All Renter Housing Units',
 'Rental Units For Which Rent Expenditures Calculated',
 'Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit',
 'Households With Income Less Than $10,000',
 'Households With Income $10,000-$14,999',
 'Households With Income $15,000-$19,999',
 'Persons In Poverty',
 'White Persons In Poverty',
 'Black Persons In Poverty']

In [78]:
df_train_data_num_col_filtered=df_train_data_num[df_train_data_num_cols]

In [79]:
df_train_data_num_col_filtered.head()

,Black,Minority,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999","Households With Income $15,000-$19,999",Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
8,61,273,90441.0,141,0,77,48,6,153,147,0
460,156,412,202668.0,394,0,121,26,72,624,330,80
583,19,119,64086.0,169,0,44,8,15,76,76,0
775,257,530,291840.0,428,23,22,39,57,165,71,83
54,366,561,609672.0,527,0,9,21,75,390,327,46

In [80]:
(df_train_data_num.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0
Work Classification Of Residents 16 Or Older - Self-Employed Workers                         0
Work Classification Of Residents 16 Or Older - Government Workers                            0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance               0
Occupation Of Residents 16 Or Older - Services                                               0
White Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0
Occupation Of Residents 16 Or Older - Professional And Managerial                            0
Rental Units For Which Rent Expenditures Calculated                                          0
Aggregate Rent Spent By All Renter Housing Units                                             0
Housing Units                                                                                0
Minority                                                                                     0
Black                                                                                        0
White                                                                                        0
Female                                                                                       0
Male                                                                                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0
Persons In Poverty                                                                           0
Black Persons Among Whom Poverty Status Was Determined                                       0
White Persons Among Whom Poverty Status Was Determined                                       0
Households With Income $200,000 Or More                                                      0
Households With Income $150,000-$199,999                                                     0
Households With Income $125,000-$149,999                                                     0
Households With Income $100,000-$124,999                                                     0
Households With Income $75,000-$99,999                                                       0
Households With Income $60,000-$74,999                                                       0
Households With Income $50,000-$59,999                                                       0
Households With Income $45,000-$49,999                                                       0
Households With Income $40,000-$44,999                                                       0
Households With Income $35,000-$39,999                                                       0
Households With Income $30,000-$34,999                                                       0
Households With Income $25,000-$29,999                                                       0
Households With Income $20,000-$24,999                                                       0
Households With Income $15,000-$19,999                                                       0
Households With Income $10,000-$14,999                                                       0
Households With Income Less Than $10,000                                                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0
Population                                                                                   0
dtype: int64

In [81]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace them

In [82]:
from sklearn.preprocessing import LabelEncoder

In [83]:
le=LabelEncoder()

In [84]:
df_train_data_cat.head()

      County
8       Cass
460  Jackson
583  Jackson
775   Platte
54      Cass

In [85]:
(df_train_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [86]:
df_train_data_cat1=df_train_data_cat.apply(le.fit_transform)

In [87]:
df_train_data_cat1.head()

     County
8         0
460       2
583       2
775       3
54        0

In [88]:
from sklearn.linear_model import LinearRegression

In [89]:
Linreg=LinearRegression()

In [90]:
traindf1=pd.concat([df_train_data_num_col_filtered,df_train_data_cat1],axis=1)

In [91]:
X1=traindf1.drop(["Households With Income Less Than $10,000"],axis=1)

In [92]:
y=traindf1["Households With Income Less Than $10,000"]

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.3)

In [95]:
df_test_data_num=df_test_data.select_dtypes(include=[np.number])
df_test_data_cat=df_test_data.select_dtypes(include=['object'])

In [96]:
df_train_data_num_cols.remove('Households With Income Less Than $10,000')

In [97]:
df_train_data_num_col_filtered=df_test_data_num[df_train_data_num_cols]

In [98]:
(df_train_data_num_col_filtered.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                    0
White Persons In Poverty                                                    0
Persons In Poverty                                                          0
Households With Income $15,000-$19,999                                      0
Households With Income $10,000-$14,999                                      0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit    0
Rental Units For Which Rent Expenditures Calculated                         0
Aggregate Rent Spent By All Renter Housing Units                            0
Minority                                                                    0
Black                                                                       0
dtype: int64

In [99]:
(df_test_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [100]:
df_test_data_cat1=df_test_data_cat.apply(le.fit_transform)

In [101]:
testdf1=pd.concat([df_train_data_num_col_filtered,df_test_data_cat1],axis=1)

In [102]:
testdf1.head()

,Black,Minority,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income $10,000-$14,999","Households With Income $15,000-$19,999",Persons In Poverty,White Persons In Poverty,Black Persons In Poverty,County
785,135,369,145606.0,151,7,0,4,145,3,142,3
516,1318,1537,281305.0,531,71,60,31,409,42,311,2
606,65,177,72506.0,70,18,17,20,95,92,0,2
743,44,131,39080.0,23,0,0,12,33,25,8,2
665,5,84,47725.0,118,0,37,39,58,56,0,2

In [103]:
from sklearn.tree import DecisionTreeRegressor

In [104]:
DecTree=DecisionTreeRegressor()

In [105]:
from sklearn.ensemble import RandomForestRegressor

In [106]:
RandFor=RandomForestRegressor(n_estimators=5000)

In [107]:
from sklearn.ensemble import GradientBoostingRegressor

In [108]:
GBM=GradientBoostingRegressor(n_estimators=3000)

In [109]:
LM=Linreg.fit(X_train,y_train)

In [110]:
LM.score(X_train,y_train)

0.6692423060723749

In [111]:
dt_M=DecTree.fit(X_train,y_train)

In [112]:
dt_M.score(X_train,y_train)

1.0

In [113]:
rf_M=RandFor.fit(X_train,y_train)

In [114]:
rf_M.score(X_train,y_train)

0.9292033620708507

In [115]:
gb_M=GBM.fit(X_train,y_train)

In [116]:
gb_M.score(X_train,y_train)

0.9999999987646201

In [117]:
from sklearn.metrics import accuracy_score, r2_score

In [118]:
gb_y_pred = gb_M.predict(X_test)
rf_y_pred = rf_M.predict(X_test)
lm_y_pred = LM.predict(X_test)

In [119]:
r2_score(y_test,gb_y_pred)

0.5495839233986555

In [120]:
r2_score(y_test,rf_y_pred)

0.5218961278102124

In [121]:
r2_score(y_test,lm_y_pred)

0.5852829169881493

In [122]:
y_eval=gb_M.predict(testdf1)

In [123]:
pd.DataFrame(y_eval).to_csv('income.csv')

## Let's find prediction to "Minority" Column

In [124]:
df_train_data_num_corr["Minority"]

Population                                                                                   0.179081
Male                                                                                         0.149580
Female                                                                                       0.204299
White                                                                                       -0.217318
Black                                                                                        0.893905
Minority                                                                                     1.000000
Housing Units                                                                                0.234678
Aggregate Rent Spent By All Renter Housing Units                                             0.251842
Rental Units For Which Rent Expenditures Calculated                                          0.400967
Occupation Of Residents 16 Or Older - Professional And Managerial                           -0.100163
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0.088418
Occupation Of Residents 16 Or Older - Services                                               0.296553
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                         -0.092279
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance              -0.027006
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0.192896
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0.065430
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0.137806
Work Classification Of Residents 16 Or Older - Government Workers                            0.054157
Work Classification Of Residents 16 Or Older - Self-Employed Workers                        -0.130518
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0.035760
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0.018155
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0.129804
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0.431485
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                                 NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                              NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0.009739
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0.038011
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0.095131
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                    -0.073782
Households With Income Less Than $10,000                                                     0.520875
Households With Income $10,000-$14,999                                                       0.369185
Households With Income $15,000-$19,999                                                       0.302647
Households With Income $20,000-$24,999                                                       0.332905
Households With Income $25,000-$29,999                                                       0.354486
Households With Income $30,000-$34,999                                                       0.233196
Households With Income $35,000-$39,999                                                       0.169477
Households With Income $40,000-$44,999                                                       0.109074
Households With Income $45,000-$49,999                                                       0.062528
Households With Income $50,000-$59,999                                                       0.031606
Households With Income $60,000-$74,999                                                      -0.035240
Households With Income $75,000-$99,999                                                      -0.112297
Households With Income $100,000-$124,999                                                    -0.147041
Households With Income $125,000-$149,999                                                    -0.160203
Households With Income $150,000-$199,999                                                    -0.167587
Households With Income $200,000 Or More                                                     -0.179705
White Persons Among Whom Poverty Status Was Determined                                      -0.181374
Black Persons Among Whom Poverty Status Was Determined                                       0.401426
Persons In Poverty                                                                           0.628839
White Persons In Poverty                                                                     0.125685
Black Persons In Poverty                                                                     0.663051
Name: Minority, dtype: float64

In [125]:
df_train_data_num_cols = []
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Minority"]>0.3) ].index.values)
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Minority"]<-0.3) ].index.values)

In [126]:
df_train_data_num_cols

['Black',
 'Minority',
 'Rental Units For Which Rent Expenditures Calculated',
 'Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit',
 'Households With Income Less Than $10,000',
 'Households With Income $10,000-$14,999',
 'Households With Income $15,000-$19,999',
 'Households With Income $20,000-$24,999',
 'Households With Income $25,000-$29,999',
 'Black Persons Among Whom Poverty Status Was Determined',
 'Persons In Poverty',
 'Black Persons In Poverty']

In [127]:
df_train_data_num_col_filtered=df_train_data_num[df_train_data_num_cols]

In [128]:
df_train_data_num_col_filtered.head()

,Black,Minority,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999","Households With Income $15,000-$19,999","Households With Income $20,000-$24,999","Households With Income $25,000-$29,999",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,Black Persons In Poverty
8,61,273,141,0,77,48,6,25,26,18,153,0
460,156,412,394,0,121,26,72,86,142,156,624,80
583,19,119,169,0,44,8,15,23,17,0,76,0
775,257,530,428,23,22,39,57,38,37,271,165,83
54,366,561,527,0,9,21,75,27,31,254,390,46

In [129]:
(df_train_data_num.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0
Work Classification Of Residents 16 Or Older - Self-Employed Workers                         0
Work Classification Of Residents 16 Or Older - Government Workers                            0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance               0
Occupation Of Residents 16 Or Older - Services                                               0
White Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0
Occupation Of Residents 16 Or Older - Professional And Managerial                            0
Rental Units For Which Rent Expenditures Calculated                                          0
Aggregate Rent Spent By All Renter Housing Units                                             0
Housing Units                                                                                0
Minority                                                                                     0
Black                                                                                        0
White                                                                                        0
Female                                                                                       0
Male                                                                                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0
Persons In Poverty                                                                           0
Black Persons Among Whom Poverty Status Was Determined                                       0
White Persons Among Whom Poverty Status Was Determined                                       0
Households With Income $200,000 Or More                                                      0
Households With Income $150,000-$199,999                                                     0
Households With Income $125,000-$149,999                                                     0
Households With Income $100,000-$124,999                                                     0
Households With Income $75,000-$99,999                                                       0
Households With Income $60,000-$74,999                                                       0
Households With Income $50,000-$59,999                                                       0
Households With Income $45,000-$49,999                                                       0
Households With Income $40,000-$44,999                                                       0
Households With Income $35,000-$39,999                                                       0
Households With Income $30,000-$34,999                                                       0
Households With Income $25,000-$29,999                                                       0
Households With Income $20,000-$24,999                                                       0
Households With Income $15,000-$19,999                                                       0
Households With Income $10,000-$14,999                                                       0
Households With Income Less Than $10,000                                                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0
Population                                                                                   0
dtype: int64

In [130]:
from sklearn.preprocessing import LabelEncoder

In [131]:
le=LabelEncoder()

In [132]:
df_train_data_cat.head()

      County
8       Cass
460  Jackson
583  Jackson
775   Platte
54      Cass

In [133]:
(df_train_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [134]:
df_train_data_cat1=df_train_data_cat.apply(le.fit_transform)

In [135]:
df_train_data_cat1.head()

     County
8         0
460       2
583       2
775       3
54        0

In [136]:
from sklearn.linear_model import LinearRegression

In [137]:
Linreg=LinearRegression()

In [138]:
traindf1=pd.concat([df_train_data_num_col_filtered,df_train_data_cat1],axis=1)

In [139]:
X1=traindf1.drop(["Minority"],axis=1)

In [140]:
y=traindf1["Minority"]

In [141]:
from sklearn.model_selection import train_test_split

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.3)

In [143]:
df_test_data_num=df_test_data.select_dtypes(include=[np.number])
df_test_data_cat=df_test_data.select_dtypes(include=['object'])

In [144]:
df_train_data_num_cols.remove('Minority')

In [145]:
df_train_data_num_col_filtered=df_test_data_num[df_train_data_num_cols]

In [146]:
(df_train_data_num_col_filtered.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                    0
Persons In Poverty                                                          0
Black Persons Among Whom Poverty Status Was Determined                      0
Households With Income $25,000-$29,999                                      0
Households With Income $20,000-$24,999                                      0
Households With Income $15,000-$19,999                                      0
Households With Income $10,000-$14,999                                      0
Households With Income Less Than $10,000                                    0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit    0
Rental Units For Which Rent Expenditures Calculated                         0
Black                                                                       0
dtype: int64

In [147]:
(df_test_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [148]:
df_test_data_cat1=df_test_data_cat.apply(le.fit_transform)

In [149]:
testdf1=pd.concat([df_train_data_num_col_filtered,df_test_data_cat1],axis=1)

In [150]:
testdf1.head()

,Black,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999","Households With Income $15,000-$19,999","Households With Income $20,000-$24,999","Households With Income $25,000-$29,999",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,Black Persons In Poverty,County
785,135,151,7,22,0,4,16,15,344,145,142,3
516,1318,531,71,79,60,31,93,119,1277,409,311,2
606,65,70,18,2,17,20,0,0,94,95,0,2
743,44,23,0,11,0,12,39,28,106,33,8,2
665,5,118,0,28,37,39,39,22,11,58,0,2

In [151]:
from sklearn.tree import DecisionTreeRegressor

In [152]:
DecTree=DecisionTreeRegressor()

In [153]:
from sklearn.ensemble import RandomForestRegressor

In [154]:
RandFor=RandomForestRegressor(n_estimators=5000)

In [155]:
from sklearn.ensemble import GradientBoostingRegressor

In [156]:
GBM=GradientBoostingRegressor(n_estimators=3000)

In [157]:
LM=Linreg.fit(X_train,y_train)

In [158]:
LM.score(X_train,y_train)

0.9036207148369206

In [159]:
dt_M=DecTree.fit(X_train,y_train)

In [160]:
dt_M.score(X_train,y_train)

1.0

In [161]:
rf_M=RandFor.fit(X_train,y_train)

In [162]:
rf_M.score(X_train,y_train)

0.9856225286913493

In [163]:
gb_M=GBM.fit(X_train,y_train)

In [164]:
gb_M.score(X_train,y_train)

0.9999999998720369

In [165]:
from sklearn.metrics import accuracy_score, r2_score

In [166]:
r2_score(y_test,gb_y_pred)

-1.140828070272267

In [167]:
r2_score(y_test,rf_y_pred)

-1.1188252585791179

In [168]:
r2_score(y_test,lm_y_pred)

-1.110861957876046

In [169]:
y_eval=gb_M.predict(testdf1)

In [170]:
pd.DataFrame(y_eval).to_csv('Minority.csv')