## CorrelationKC
#Hackathon
#Team: Gauntlet

In [3]:
#importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR

In [4]:
df=pd.read_csv("Data_Set")

In [5]:
df.head()

,County,Census Tract,Block Group,Block Group Concatenation,Population,Male,Female,White,Black,Native American,...,Current Students 3 Years Or Older In Private Elementary Or High School,Highest Education Achieved By Persons 25 Or Older - Less Than 9th Grade,Highest Education Achieved By Persons 25 Or Older - 9th To 12th Grade,Highest Education Achieved By Persons 25 Or Older - High School Graduate,"Highest Education Achieved By Persons 25 Or Older - College, But Less Than Ba Degree","Highest Education Achieved By Persons 25 Or Older - College, Ba Degree Or More",Youth 16 To 19 Years Old Enrolled In School And Employed,Youth 16 To 19 Years Old Enrolled In School And Unemployed,Youth 16 To 19 Years Old Not Enrolled In School And Employed,Youth 16 To 19 Years Old Not Enrolled In School And Unemployed
0,Cass,600.01,1,600.01-1,967,478,489,901,30,0,...,84,22,15,86,178,416,6,14,0,0
1,Cass,600.01,2,600.01-2,1597,779,818,1396,98,5,...,55,14,20,353,327,290,43,49,0,29
2,Cass,600.01,3,600.01-3,1624,813,811,1465,50,4,...,47,39,74,380,361,256,50,19,28,0
3,Cass,600.03,1,600.03-1,1264,589,675,1111,52,6,...,20,0,156,214,317,180,19,47,0,0
4,Cass,600.03,2,600.03-2,2090,1031,1059,1762,165,12,...,11,33,85,438,559,312,27,0,15,0

In [6]:
df_required = df[["County",
"Population",
"Male",
"Female",
"White",
"Black",
"Minority",
"Housing Units",
"Aggregate Rent Spent By All Renter Housing Units",
"Rental Units For Which Rent Expenditures Calculated",
"Occupation Of Residents 16 Or Older - Professional And Managerial",
"Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support",
"Occupation Of Residents 16 Or Older - Services",
"Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing",
"Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance",
"Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving",
"Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers",
"Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers",
"Work Classification Of Residents 16 Or Older - Government Workers",
"Work Classification Of Residents 16 Or Older - Self-Employed Workers",
"Work Classification Of Residents 16 Or Older - Unpaid Family Workers",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Walked",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means",
"Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home",
"Households With Income Less Than $10,000",
"Households With Income $10,000-$14,999",
"Households With Income $15,000-$19,999",
"Households With Income $20,000-$24,999",
"Households With Income $25,000-$29,999",
"Households With Income $30,000-$34,999",
"Households With Income $35,000-$39,999",
"Households With Income $40,000-$44,999",
"Households With Income $45,000-$49,999",
"Households With Income $50,000-$59,999",
"Households With Income $60,000-$74,999",
"Households With Income $75,000-$99,999",
"Households With Income $100,000-$124,999",
"Households With Income $125,000-$149,999",
"Households With Income $150,000-$199,999",
"Households With Income $200,000 Or More",
"White Persons Among Whom Poverty Status Was Determined",
"Black Persons Among Whom Poverty Status Was Determined",
"Persons In Poverty",
"White Persons In Poverty",
"Black Persons In Poverty"]]

In [7]:
df_required.describe()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
count,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,8.200000e+02,820.000000,820.000000,...,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000,820.000000
mean,1323.045122,642.401220,680.643902,993.107317,221.536585,374.997561,591.800000,1.161368e+05,183.558537,235.217073,...,66.901220,40.706098,19.782927,18.654878,12.739024,987.298780,314.810976,178.376829,97.419512,64.813415
std,747.586926,363.375891,388.692451,767.014360,278.585994,308.053022,298.744163,1.375785e+05,184.340749,199.614321,...,61.504767,45.232248,26.244864,29.500923,25.996857,757.985786,551.755544,147.296660,90.876331,97.969560
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,795.500000,387.750000,408.750000,480.750000,34.750000,141.750000,376.000000,3.695100e+04,55.000000,87.750000,...,23.000000,8.000000,0.000000,0.000000,0.000000,473.000000,38.000000,75.000000,37.000000,1.000000
50%,1078.000000,532.500000,558.000000,803.000000,99.000000,264.500000,506.500000,7.243650e+04,131.500000,181.000000,...,50.500000,26.000000,10.000000,7.000000,0.000000,800.500000,126.500000,142.000000,75.000000,20.000000
75%,1670.000000,801.250000,869.250000,1372.000000,311.500000,539.500000,731.250000,1.396342e+05,244.000000,329.000000,...,95.000000,58.250000,28.000000,27.000000,13.000000,1357.750000,415.750000,232.000000,129.250000,87.000000
max,6096.000000,3024.000000,3072.000000,5711.000000,1672.000000,1916.000000,2233.000000,1.270625e+06,1246.000000,1208.000000,...,404.000000,298.000000,183.000000,238.000000,242.000000,5025.000000,8237.000000,1336.000000,884.000000,729.000000

In [8]:
df_required.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 51 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   County                                                                                     820 non-null    object
 1   Population                                                                                 820 non-null    int64
 2   Male                                                                                       820 non-null    int64
 3   Female                                                                                     820 non-null    int64
 4   White                                                                                      820 non-null    int64
 5   Black                                                                                      820 non-null    int64
 6   Minority                                                                                   820 non-null    int64
 7   Housing Units                                                                              820 non-null    int64
 8   Aggregate Rent Spent By All Renter Housing Units                                           820 non-null    float64
 9   Rental Units For Which Rent Expenditures Calculated                                        820 non-null    int64
 10  Occupation Of Residents 16 Or Older - Professional And Managerial                          820 non-null    int64
 11  Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support             820 non-null    int64
 12  Occupation Of Residents 16 Or Older - Services                                             820 non-null    int64
 13  Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                        820 non-null    int64
 14  Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance             820 non-null    int64
 15  Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving       820 non-null    int64
 16  Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers  820 non-null    int64
 17  Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers  820 non-null    int64
 18  Work Classification Of Residents 16 Or Older - Government Workers                          820 non-null    int64
 19  Work Classification Of Residents 16 Or Older - Self-Employed Workers                       820 non-null    int64
 20  Work Classification Of Residents 16 Or Older - Unpaid Family Workers                       820 non-null    int64
 21  Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                      820 non-null    int64
 22  Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                          820 non-null    int64
 23  Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                   820 non-null    int64
 24  Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                          820 non-null    int64
 25  Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                       820 non-null    int64
 26  Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                          820 non-null    int64
 27  Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                           820 non-null    int64
 28  Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                      820 non-null    int64
 29  Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                   820 non-null    int64
 30  Households With Income Less Than $10,000                                                   820 non-null    int64
 31  Households With Income $10,000-$14,999                                                     820 non-null    int64
 32  Households With Income $15,000-$19,999                                                     820 non-null    int64
 33  Households With Income $20,000-$24,999                                                     820 non-null    int64
 34  Households With Income $25,000-$29,999                                                     820 non-null    int64
 35  Households With Income $30,000-$34,999                                                     820 non-null    int64
 36  Households With Income $35,000-$39,999                                                     820 non-null    int64
 37  Households With Income $40,000-$44,999                                                     820 non-null    int64
 38  Households With Income $45,000-$49,999                                                     820 non-null    int64
 39  Households With Income $50,000-$59,999                                                     820 non-null    int64
 40  Households With Income $60,000-$74,999                                                     820 non-null    int64
 41  Households With Income $75,000-$99,999                                                     820 non-null    int64
 42  Households With Income $100,000-$124,999                                                   820 non-null    int64
 43  Households With Income $125,000-$149,999                                                   820 non-null    int64
 44  Households With Income $150,000-$199,999                                                   820 non-null    int64
 45  Households With Income $200,000 Or More                                                    820 non-null    int64
 46  White Persons Among Whom Poverty Status Was Determined                                     820 non-null    int64
 47  Black Persons Among Whom Poverty Status Was Determined                                     820 non-null    int64
 48  Persons In Poverty                                                                         820 non-null    int64
 49  White Persons In Poverty                                                                   820 non-null    int64
 50  Black Persons In Poverty                                                                   820 non-null    int64
dtypes: float64(1), int64(49), object(1)
memory usage: 326.8+ KB

In [9]:
df_required.head()

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
0,Cass,967,478,489,901,30,77,435,60011.0,33,...,42,42,34,44,92,917,9,90,72,0
1,Cass,1597,779,818,1396,98,244,584,53239.0,53,...,123,98,33,6,0,1514,15,149,119,0
2,Cass,1624,813,811,1465,50,220,695,128954.0,177,...,79,88,45,5,0,1540,16,151,121,0
3,Cass,1264,589,675,1111,52,246,584,170911.0,293,...,33,7,1,4,0,1084,122,176,102,74
4,Cass,2090,1031,1059,1762,165,400,781,120586.0,95,...,176,61,8,11,53,1792,201,291,168,123

In [18]:
df_train_data=df_required.sample(frac=0.8)

In [19]:
df_test_data=df_required.sample(frac=0.2)

In [89]:
pd.DataFrame(df_train_data).to_csv('train_file.csv')

In [20]:
df_train_data

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
107,Clay,1778,816,962,1530,140,303,972,292413.0,435,...,98,61,10,31,0,1594,30,168,161,0
695,Jackson,658,322,336,15,618,647,387,47028.0,132,...,2,4,0,0,0,40,564,108,10,88
600,Jackson,2922,1328,1594,2529,187,460,1443,455629.0,756,...,122,25,31,17,12,2435,179,318,224,12
797,Platte,1661,832,829,1566,45,117,532,48248.0,60,...,95,75,62,88,47,1536,45,58,58,0
623,Jackson,2613,1279,1334,2424,96,238,1107,13712.0,16,...,141,92,96,107,85,1977,418,285,78,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Clay,1390,709,681,1303,17,107,594,87499.0,50,...,80,53,41,36,33,1248,68,101,43,52
204,Clay,1214,610,604,1025,69,255,469,20539.0,30,...,60,19,8,0,0,1041,1660,122,82,107
686,Jackson,1466,606,860,89,1309,1381,856,337472.0,704,...,0,0,0,0,0,17,1416,390,17,373
140,Clay,1526,771,755,1157,249,426,583,35074.0,83,...,68,42,15,2,10,1189,194,133,129,4
227,Jackson,1027,504,523,421,192,772,390,129649.0,190,...,19,0,0,0,0,466,166,429,111,144

In [88]:
pd.DataFrame(df_test_data).to_csv('test_file.csv')

In [21]:
df_test_data

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
733,Jackson,482,283,199,232,172,279,591,134312.0,232,...,20,0,0,0,0,211,199,213,53,128
2,Cass,1624,813,811,1465,50,220,695,128954.0,177,...,79,88,45,5,0,1540,16,151,121,0
291,Jackson,837,451,386,502,258,360,525,112486.0,214,...,53,33,0,0,0,611,202,164,105,59
512,Jackson,754,353,401,266,428,500,313,14902.0,53,...,30,13,4,12,5,250,451,116,34,75
199,Clay,580,314,266,461,67,147,361,104354.0,205,...,23,27,0,0,0,514,10,53,49,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,Jackson,937,432,505,36,858,902,505,74941.0,157,...,24,2,0,0,0,23,845,270,10,233
338,Jackson,745,364,381,712,8,49,291,42447.0,21,...,39,34,38,81,49,717,4,0,0,0
193,Clay,1690,849,841,1628,19,93,655,18003.0,48,...,121,93,59,14,0,1584,0,71,71,0
527,Jackson,1107,482,625,224,808,895,502,138243.0,245,...,8,6,0,0,0,354,727,229,34,187
811,Platte,703,375,328,623,23,113,424,83307.0,176,...,40,4,3,2,0,677,53,39,32,1

In [22]:
# Fit regression model
svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1)
svr_lin = SVR(kernel='linear', C=100, gamma='auto')
svr_poly = SVR(kernel='poly', C=100, gamma='auto', degree=3, epsilon=.1,
               coef0=1)

In [23]:
df_county=df_train_data.groupby("County")

In [24]:
df_county.head()

,County,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
107,Clay,1778,816,962,1530,140,303,972,292413.0,435,...,98,61,10,31,0,1594,30,168,161,0
695,Jackson,658,322,336,15,618,647,387,47028.0,132,...,2,4,0,0,0,40,564,108,10,88
600,Jackson,2922,1328,1594,2529,187,460,1443,455629.0,756,...,122,25,31,17,12,2435,179,318,224,12
797,Platte,1661,832,829,1566,45,117,532,48248.0,60,...,95,75,62,88,47,1536,45,58,58,0
623,Jackson,2613,1279,1334,2424,96,238,1107,13712.0,16,...,141,92,96,107,85,1977,418,285,78,204
248,Jackson,1268,645,623,585,200,911,593,146300.0,301,...,5,0,2,8,0,498,337,536,258,189
777,Platte,914,437,477,874,0,59,448,10421.0,20,...,72,47,17,14,8,840,1224,87,82,138
28,Cass,955,436,519,906,10,76,411,41777.0,112,...,12,10,0,0,0,858,4,97,95,2
730,Jackson,3338,1672,1666,3050,91,416,1160,82476.0,90,...,278,158,42,8,9,3031,69,181,174,0
45,Cass,864,420,444,840,9,29,401,32933.0,109,...,41,27,7,2,0,825,0,68,54,0
103,Clay,993,487,506,891,21,181,387,30641.0,48,...,44,17,1,4,5,867,97,59,56,3
190,Clay,3409,1661,1748,3298,5,179,1247,251789.0,348,...,277,167,51,11,0,3185,6,97,76,0
101,Clay,1110,541,569,975,64,189,535,172622.0,245,...,45,20,14,10,0,962,51,46,31,13
124,Clay,1185,566,619,1048,49,189,512,58968.0,145,...,71,51,34,28,30,1101,50,69,50,17
807,Platte,756,351,405,694,18,74,316,59165.0,125,...,68,30,21,0,0,685,34,73,71,1
36,Cass,2881,1351,1530,2788,21,116,1127,139430.0,266,...,193,111,35,47,28,2725,18,226,225,0
35,Cass,1254,624,630,1210,9,65,489,18261.0,20,...,76,34,10,0,0,1186,8,98,98,0
811,Platte,703,375,328,623,23,113,424,83307.0,176,...,40,4,3,2,0,677,53,39,32,1
814,Platte,1068,523,545,1041,2,47,497,38518.0,95,...,50,54,32,7,0,1029,81,59,48,2
11,Cass,1038,503,535,932,26,134,375,36965.0,59,...,41,24,5,2,10,767,113,65,65,0

In [25]:
df_county

In [26]:
df_county.mean()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
County,,,,,,,,,,,,,,,,,,,,,
Cass,1738.122449,848.857143,889.265306,1590.408163,64.591837,187.244898,699.204082,99851.408163,147.612245,285.571429,...,97.857143,60.591837,27.938776,24.244898,12.591837,1573.469388,56.734694,149.816327,133.469388,9.000000
Clay,1449.832000,708.600000,741.232000,1272.112000,72.416000,226.512000,609.104000,98727.968000,152.184000,286.440000,...,84.296000,54.112000,25.560000,22.272000,14.704000,1269.544000,414.928000,115.768000,90.512000,31.544000
Jackson,1249.204128,600.580275,648.623853,837.844037,298.229358,456.323394,575.655963,116075.041284,191.577982,210.662844,...,58.440367,33.334862,16.105505,15.782110,10.472477,830.979358,304.020642,207.534404,97.052752,82.591743
Platte,1425.434783,702.086957,723.347826,1257.760870,78.304348,210.434783,622.043478,145146.217391,187.282609,316.434783,...,81.804348,60.326087,34.043478,34.130435,27.500000,1242.913043,468.043478,99.065217,70.826087,50.326087

In [30]:
df_train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 656 entries, 107 to 227
Data columns (total 51 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   County                                                                                     656 non-null    object
 1   Population                                                                                 656 non-null    int64
 2   Male                                                                                       656 non-null    int64
 3   Female                                                                                     656 non-null    int64
 4   White                                                                                      656 non-null    int64
 5   Black                                                                                      656 non-null    int64
 6   Minority                                                                                   656 non-null    int64
 7   Housing Units                                                                              656 non-null    int64
 8   Aggregate Rent Spent By All Renter Housing Units                                           656 non-null    float64
 9   Rental Units For Which Rent Expenditures Calculated                                        656 non-null    int64
 10  Occupation Of Residents 16 Or Older - Professional And Managerial                          656 non-null    int64
 11  Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support             656 non-null    int64
 12  Occupation Of Residents 16 Or Older - Services                                             656 non-null    int64
 13  Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                        656 non-null    int64
 14  Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance             656 non-null    int64
 15  Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving       656 non-null    int64
 16  Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers  656 non-null    int64
 17  Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers  656 non-null    int64
 18  Work Classification Of Residents 16 Or Older - Government Workers                          656 non-null    int64
 19  Work Classification Of Residents 16 Or Older - Self-Employed Workers                       656 non-null    int64
 20  Work Classification Of Residents 16 Or Older - Unpaid Family Workers                       656 non-null    int64
 21  Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                      656 non-null    int64
 22  Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                          656 non-null    int64
 23  Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                   656 non-null    int64
 24  Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                          656 non-null    int64
 25  Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                       656 non-null    int64
 26  Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                          656 non-null    int64
 27  Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                           656 non-null    int64
 28  Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                      656 non-null    int64
 29  Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                   656 non-null    int64
 30  Households With Income Less Than $10,000                                                   656 non-null    int64
 31  Households With Income $10,000-$14,999                                                     656 non-null    int64
 32  Households With Income $15,000-$19,999                                                     656 non-null    int64
 33  Households With Income $20,000-$24,999                                                     656 non-null    int64
 34  Households With Income $25,000-$29,999                                                     656 non-null    int64
 35  Households With Income $30,000-$34,999                                                     656 non-null    int64
 36  Households With Income $35,000-$39,999                                                     656 non-null    int64
 37  Households With Income $40,000-$44,999                                                     656 non-null    int64
 38  Households With Income $45,000-$49,999                                                     656 non-null    int64
 39  Households With Income $50,000-$59,999                                                     656 non-null    int64
 40  Households With Income $60,000-$74,999                                                     656 non-null    int64
 41  Households With Income $75,000-$99,999                                                     656 non-null    int64
 42  Households With Income $100,000-$124,999                                                   656 non-null    int64
 43  Households With Income $125,000-$149,999                                                   656 non-null    int64
 44  Households With Income $150,000-$199,999                                                   656 non-null    int64
 45  Households With Income $200,000 Or More                                                    656 non-null    int64
 46  White Persons Among Whom Poverty Status Was Determined                                     656 non-null    int64
 47  Black Persons Among Whom Poverty Status Was Determined                                     656 non-null    int64
 48  Persons In Poverty                                                                         656 non-null    int64
 49  White Persons In Poverty                                                                   656 non-null    int64
 50  Black Persons In Poverty                                                                   656 non-null    int64
dtypes: float64(1), int64(49), object(1)
memory usage: 266.5+ KB

In [27]:
df_train_data.describe()

,Population,Male,Female,White,Black,Minority,Housing Units,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Occupation Of Residents 16 Or Older - Professional And Managerial,...,"Households With Income $75,000-$99,999","Households With Income $100,000-$124,999","Households With Income $125,000-$149,999","Households With Income $150,000-$199,999","Households With Income $200,000 Or More",White Persons Among Whom Poverty Status Was Determined,Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
count,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,6.560000e+02,656.000000,656.000000,...,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000,656.000000
mean,1336.310976,646.826220,689.484756,1006.251524,222.327744,375.192073,594.510671,1.135963e+05,180.486280,238.114329,...,67.949695,41.222561,20.048780,18.937500,12.631098,998.893293,318.184451,178.131098,96.687500,65.105183
std,754.218581,365.121246,392.891462,773.616249,282.745068,310.357366,298.557253,1.299696e+05,173.830609,199.510012,...,61.516650,45.482410,26.456545,29.855695,25.927578,761.831406,563.426795,143.658802,86.062013,99.776221
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,799.500000,392.500000,416.750000,483.000000,37.000000,146.000000,376.000000,3.868375e+04,56.000000,93.750000,...,23.000000,8.000000,0.000000,0.000000,0.000000,473.000000,39.000000,75.000000,38.000000,1.000000
50%,1107.500000,542.000000,573.000000,801.000000,98.000000,264.000000,513.500000,7.407650e+04,134.000000,187.500000,...,52.000000,27.000000,10.000000,7.000000,0.000000,801.000000,123.500000,142.000000,75.500000,19.500000
75%,1678.750000,803.500000,876.500000,1386.750000,311.500000,530.000000,736.250000,1.406132e+05,244.000000,333.000000,...,97.000000,60.000000,28.250000,27.000000,13.000000,1375.250000,420.250000,231.250000,127.250000,88.250000
max,6096.000000,3024.000000,3072.000000,5711.000000,1672.000000,1916.000000,2233.000000,1.270625e+06,1084.000000,1208.000000,...,404.000000,298.000000,183.000000,238.000000,242.000000,5025.000000,8237.000000,949.000000,719.000000,729.000000

In [28]:
df_train_data_num=df_train_data.select_dtypes(include=[np.number])

In [29]:
df_train_data_cat=df_train_data.select_dtypes(include=['object'])

In [31]:
df_train_data_num.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Population,656.0,1336.310976,754.218581,0.0,799.50,1107.5,1678.75,6096.0
Male,656.0,646.826220,365.121246,0.0,392.50,542.0,803.50,3024.0
Female,656.0,689.484756,392.891462,0.0,416.75,573.0,876.50,3072.0
White,656.0,1006.251524,773.616249,0.0,483.00,801.0,1386.75,5711.0
Black,656.0,222.327744,282.745068,0.0,37.00,98.0,311.50,1672.0
Minority,656.0,375.192073,310.357366,0.0,146.00,264.0,530.00,1916.0
Housing Units,656.0,594.510671,298.557253,0.0,376.00,513.5,736.25,2233.0
Aggregate Rent Spent By All Renter Housing Units,656.0,113596.278963,129969.647555,0.0,38683.75,74076.5,140613.25,1270625.0
Rental Units For Which Rent Expenditures Calculated,656.0,180.486280,173.830609,0.0,56.00,134.0,244.00,1084.0
Occupation Of Residents 16 Or Older - Professional And Managerial,656.0,238.114329,199.510012,0.0,93.75,187.5,333.00,1208.0
"Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support",656.0,173.064024,120.293352,0.0,82.00,143.0,232.00,1012.0
Occupation Of Residents 16 Or Older - Services,656.0,110.187500,78.106366,0.0,59.00,93.0,147.25,556.0
"Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing",656.0,1.025915,4.895014,0.0,0.00,0.0,0.00,63.0
"Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance",656.0,53.879573,53.730960,0.0,13.00,41.0,77.00,352.0
"Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving",656.0,81.740854,61.936781,0.0,38.00,69.5,112.25,463.0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers,656.0,457.275915,294.448427,0.0,249.50,376.0,595.00,2331.0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers,656.0,64.120427,54.244309,0.0,24.00,51.5,89.00,276.0
Work Classification Of Residents 16 Or Older - Government Workers,656.0,85.144817,71.963914,0.0,33.00,67.0,120.00,554.0
Work Classification Of Residents 16 Or Older - Self-Employed Workers,656.0,50.556402,49.763991,0.0,14.75,35.0,71.00,305.0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers,656.0,0.865854,4.856757,0.0,0.00,0.0,0.00,60.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone,656.0,536.855183,357.124511,0.0,278.50,448.5,717.25,2606.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool,656.0,58.882622,55.333823,0.0,19.00,45.0,79.00,323.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,656.0,12.128049,21.707959,0.0,0.00,0.0,15.00,125.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab,656.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle,656.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle,656.0,0.763720,3.911692,0.0,0.00,0.0,0.00,43.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked,656.0,8.193598,17.501076,0.0,0.00,0.0,10.00,120.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means,656.0,7.077744,16.060907,0.0,0.00,0.0,9.00,186.0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home,656.0,23.733232,29.640346,0.0,0.00,14.0,33.25,184.0
"Households With Income Less Than $10,000",656.0,42.126524,46.630143,0.0,10.00,28.0,59.25,323.0
"Households With Income $10,000-$14,999",656.0,28.661585,28.187022,0.0,9.00,21.0,40.25,168.0
"Households With Income $15,000-$19,999",656.0,28.993902,26.500871,0.0,10.00,23.0,42.00,224.0
"Households With Income $20,000-$24,999",656.0,29.655488,25.574682,0.0,11.00,23.5,41.00,202.0
"Households With Income $25,000-$29,999",656.0,30.442073,24.432171,0.0,14.00,25.0,41.00,178.0
"Households With Income $30,000-$34,999",656.0,29.592988,23.011326,0.0,14.00,25.0,40.00,141.0
"Households With Income $35,000-$39,999",656.0,28.939024,22.532472,0.0,12.00,24.0,40.00,157.0
"Households With Income $40,000-$44,999",656.0,26.795732,23.148265,0.0,10.00,21.0,37.00,130.0
"Households With Income $45,000-$49,999",656.0,25.495427,20.024717,0.0,11.00,21.0,35.00,117.0
"Households With Income $50,000-$59,999",656.0,46.655488,35.472302,0.0,22.00,41.0,61.00,249.0
"Households With Income $60,000-$74,999",656.0,56.004573,45.785810,0.0,24.00,46.0,76.00,397.0
"Households With Income $75,000-$99,999",656.0,67.949695,61.516650,0.0,23.00,52.0,97.00,404.0
"Households With Income $100,000-$124,999",656.0,41.222561,45.482410,0.0,8.00,27.0,60.00,298.0
"Households With Income $125,000-$149,999",656.0,20.048780,26.456545,0.0,0.00,10.0,28.25,183.0
"Households With Income $150,000-$199,999",656.0,18.937500,29.855695,0.0,0.00,7.0,27.00,238.0
"Households With Income $200,000 Or More",656.0,12.631098,25.927578,0.0,0.00,0.0,13.00,242.0
White Persons Among Whom Poverty Status Was Determined,656.0,998.893293,761.831406,0.0,473.00,801.0,1375.25,5025.0
Black Persons Among Whom Poverty Status Was Determined,656.0,318.184451,563.426795,0.0,39.00,123.5,420.25,8237.0
Persons In Poverty,656.0,178.131098,143.658802,0.0,75.00,142.0,231.25,949.0
White Persons In Poverty,656.0,96.687500,86.062013,0.0,38.00,75.5,127.25,719.0
Black Persons In Poverty,656.0,65.105183,99.776221,0.0,1.00,19.5,88.25,729.0

In [32]:
df_train_data_num_corr=df_train_data_num.corr()

## Let's find prediction to "Black Persons In Poverty" Column

In [34]:
df_train_data_num_corr["Black Persons In Poverty"]

Population                                                                                  -0.086325
Male                                                                                        -0.113292
Female                                                                                      -0.060430
White                                                                                       -0.352327
Black                                                                                        0.704508
Minority                                                                                     0.662644
Housing Units                                                                               -0.003289
Aggregate Rent Spent By All Renter Housing Units                                             0.122476
Rental Units For Which Rent Expenditures Calculated                                          0.267579
Occupation Of Residents 16 Or Older - Professional And Managerial                           -0.269569
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support              -0.166634
Occupation Of Residents 16 Or Older - Services                                               0.043724
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                         -0.055169
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance              -0.206590
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving        -0.038709
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers   -0.206003
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers   -0.031185
Work Classification Of Residents 16 Or Older - Government Workers                           -0.173446
Work Classification Of Residents 16 Or Older - Self-Employed Workers                        -0.186162
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                        -0.024762
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                       -0.242760
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                           -0.076559
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0.504649
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                                 NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                              NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                           -0.006840
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0.039077
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0.015255
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                    -0.147143
Households With Income Less Than $10,000                                                     0.546132
Households With Income $10,000-$14,999                                                       0.306577
Households With Income $15,000-$19,999                                                       0.221820
Households With Income $20,000-$24,999                                                       0.201503
Households With Income $25,000-$29,999                                                       0.179257
Households With Income $30,000-$34,999                                                       0.049494
Households With Income $35,000-$39,999                                                      -0.057581
Households With Income $40,000-$44,999                                                      -0.033956
Households With Income $45,000-$49,999                                                      -0.117961
Households With Income $50,000-$59,999                                                      -0.178296
Households With Income $60,000-$74,999                                                      -0.236107
Households With Income $75,000-$99,999                                                      -0.306865
Households With Income $100,000-$124,999                                                    -0.296261
Households With Income $125,000-$149,999                                                    -0.250091
Households With Income $150,000-$199,999                                                    -0.229325
Households With Income $200,000 Or More                                                     -0.156618
White Persons Among Whom Poverty Status Was Determined                                      -0.353567
Black Persons Among Whom Poverty Status Was Determined                                       0.477331
Persons In Poverty                                                                           0.671001
White Persons In Poverty                                                                    -0.044288
Black Persons In Poverty                                                                     1.000000
Name: Black Persons In Poverty, dtype: float64

In [36]:
df_train_data_num_cols = []
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Black Persons In Poverty"]>0.3) ].index.values)
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Black Persons In Poverty"]<-0.3) ].index.values)

In [38]:
df_train_data_num_cols

['Black',
 'Minority',
 'Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit',
 'Households With Income Less Than $10,000',
 'Households With Income $10,000-$14,999',
 'Black Persons Among Whom Poverty Status Was Determined',
 'Persons In Poverty',
 'Black Persons In Poverty',
 'White',
 'Households With Income $75,000-$99,999',
 'White Persons Among Whom Poverty Status Was Determined']

In [39]:
df_train_data_num_col_filtered=df_train_data_num[df_train_data_num_cols]

In [40]:
df_train_data_num_col_filtered.head()

,Black,Minority,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,Black Persons In Poverty,White,"Households With Income $75,000-$99,999",White Persons Among Whom Poverty Status Was Determined
107,140,303,0,26,24,30,168,0,1530,98,1594
695,618,647,43,61,30,564,108,88,15,2,40
600,187,460,27,126,110,179,318,12,2529,122,2435
797,45,117,0,6,16,45,58,0,1566,95,1536
623,96,238,18,15,21,418,285,204,2424,141,1977

In [41]:
(df_train_data_num.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0
Work Classification Of Residents 16 Or Older - Self-Employed Workers                         0
Work Classification Of Residents 16 Or Older - Government Workers                            0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance               0
Occupation Of Residents 16 Or Older - Services                                               0
White Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0
Occupation Of Residents 16 Or Older - Professional And Managerial                            0
Rental Units For Which Rent Expenditures Calculated                                          0
Aggregate Rent Spent By All Renter Housing Units                                             0
Housing Units                                                                                0
Minority                                                                                     0
Black                                                                                        0
White                                                                                        0
Female                                                                                       0
Male                                                                                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0
Persons In Poverty                                                                           0
Black Persons Among Whom Poverty Status Was Determined                                       0
White Persons Among Whom Poverty Status Was Determined                                       0
Households With Income $200,000 Or More                                                      0
Households With Income $150,000-$199,999                                                     0
Households With Income $125,000-$149,999                                                     0
Households With Income $100,000-$124,999                                                     0
Households With Income $75,000-$99,999                                                       0
Households With Income $60,000-$74,999                                                       0
Households With Income $50,000-$59,999                                                       0
Households With Income $45,000-$49,999                                                       0
Households With Income $40,000-$44,999                                                       0
Households With Income $35,000-$39,999                                                       0
Households With Income $30,000-$34,999                                                       0
Households With Income $25,000-$29,999                                                       0
Households With Income $20,000-$24,999                                                       0
Households With Income $15,000-$19,999                                                       0
Households With Income $10,000-$14,999                                                       0
Households With Income Less Than $10,000                                                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0
Population                                                                                   0
dtype: int64

In [47]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace them

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
le=LabelEncoder()

In [45]:
df_train_data_cat.head()

      County
107     Clay
695  Jackson
600  Jackson
797   Platte
623  Jackson

In [46]:
(df_train_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [48]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace

In [50]:
df_train_data_cat1=df_train_data_cat.apply(le.fit_transform)

In [51]:
df_train_data_cat1.head()

     County
107       1
695       2
600       2
797       3
623       2

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
Linreg=LinearRegression()

In [54]:
traindf1=pd.concat([df_train_data_num_col_filtered,df_train_data_cat1],axis=1)

In [55]:
X1=traindf1.drop(["Black Persons In Poverty"],axis=1)

In [56]:
y=traindf1["Black Persons In Poverty"]

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.3)

In [59]:
df_test_data_num=df_test_data.select_dtypes(include=[np.number])
df_test_data_cat=df_test_data.select_dtypes(include=['object'])

In [60]:
df_train_data_num_cols.remove('Black Persons In Poverty')

In [61]:
df_train_data_num_col_filtered=df_test_data_num[df_train_data_num_cols]

In [62]:
(df_train_data_num_col_filtered.isnull().sum().sort_values(ascending=False))

White Persons Among Whom Poverty Status Was Determined                      0
Households With Income $75,000-$99,999                                      0
White                                                                       0
Persons In Poverty                                                          0
Black Persons Among Whom Poverty Status Was Determined                      0
Households With Income $10,000-$14,999                                      0
Households With Income Less Than $10,000                                    0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit    0
Minority                                                                    0
Black                                                                       0
dtype: int64

In [63]:
(df_test_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [64]:
df_test_data_cat1=df_test_data_cat.apply(le.fit_transform)

In [140]:
testdf1=pd.concat([df_train_data_num_col_filtered,df_test_data_cat1],axis=1)

In [66]:
testdf1.head()

,Black,Minority,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999",Black Persons Among Whom Poverty Status Was Determined,Persons In Poverty,White,"Households With Income $75,000-$99,999",White Persons Among Whom Poverty Status Was Determined,County
733,172,279,33,55,24,199,213,232,20,211,2
2,50,220,8,49,9,16,151,1465,79,1540,0
291,258,360,22,43,43,202,164,502,53,611,2
512,428,500,0,30,0,451,116,266,30,250,2
199,67,147,0,0,0,10,53,461,23,514,1

In [67]:
from sklearn.tree import DecisionTreeRegressor

In [68]:
DecTree=DecisionTreeRegressor()

In [69]:
from sklearn.ensemble import RandomForestRegressor

In [70]:
RandFor=RandomForestRegressor(n_estimators=5000)

In [71]:
from sklearn.ensemble import GradientBoostingRegressor

In [72]:
GBM=GradientBoostingRegressor(n_estimators=3000)

In [73]:
LM=Linreg.fit(X_train,y_train)

In [74]:
LM.score(X_train,y_train)

0.7891351961393013

In [75]:
dt_M=DecTree.fit(X_train,y_train)

In [76]:
dt_M.score(X_train,y_train)

1.0

In [77]:
rf_M=RandFor.fit(X_train,y_train)

In [78]:
rf_M.score(X_train,y_train)

0.9811238437424947

In [79]:
gb_M=GBM.fit(X_train,y_train)

In [80]:
gb_M.score(X_train,y_train)

0.9999999997364981

In [81]:
from sklearn.metrics import accuracy_score, r2_score

In [82]:
gb_y_pred = gb_M.predict(X_test)
rf_y_pred = rf_M.predict(X_test)
lm_y_pred = LM.predict(X_test)

In [83]:
r2_score(y_test,gb_y_pred)

0.8743591922294057

In [84]:
r2_score(y_test,rf_y_pred)

0.8731806594965188

In [85]:
r2_score(y_test,lm_y_pred)

0.8029576192421675

In [86]:
y_eval=gb_M.predict(testdf1)

In [87]:
pd.DataFrame(y_eval).to_csv('black_poverty.csv')

## Let's find prediction to "Households With Income Less Than $10,000" Column

In [90]:
df_train_data_num_corr["Households With Income Less Than $10,000"]

Population                                                                                   0.069429
Male                                                                                         0.044283
Female                                                                                       0.092128
White                                                                                       -0.143016
Black                                                                                        0.490015
Minority                                                                                     0.543161
Housing Units                                                                                0.251133
Aggregate Rent Spent By All Renter Housing Units                                             0.385400
Rental Units For Which Rent Expenditures Calculated                                          0.599632
Occupation Of Residents 16 Or Older - Professional And Managerial                           -0.178638
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support              -0.024005
Occupation Of Residents 16 Or Older - Services                                               0.211195
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0.002220
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance              -0.016687
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0.087122
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers   -0.019073
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0.021710
Work Classification Of Residents 16 Or Older - Government Workers                           -0.104532
Work Classification Of Residents 16 Or Older - Self-Employed Workers                        -0.111133
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                        -0.011776
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                       -0.085925
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0.046438
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0.389700
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                                 NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                              NaN
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0.045613
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0.190346
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0.099641
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                    -0.118025
Households With Income Less Than $10,000                                                     1.000000
Households With Income $10,000-$14,999                                                       0.554202
Households With Income $15,000-$19,999                                                       0.344181
Households With Income $20,000-$24,999                                                       0.293759
Households With Income $25,000-$29,999                                                       0.327573
Households With Income $30,000-$34,999                                                       0.267334
Households With Income $35,000-$39,999                                                       0.130608
Households With Income $40,000-$44,999                                                       0.050463
Households With Income $45,000-$49,999                                                       0.019442
Households With Income $50,000-$59,999                                                      -0.026799
Households With Income $60,000-$74,999                                                      -0.120956
Households With Income $75,000-$99,999                                                      -0.219228
Households With Income $100,000-$124,999                                                    -0.244031
Households With Income $125,000-$149,999                                                    -0.238870
Households With Income $150,000-$199,999                                                    -0.221090
Households With Income $200,000 Or More                                                     -0.176556
White Persons Among Whom Poverty Status Was Determined                                      -0.119574
Black Persons Among Whom Poverty Status Was Determined                                       0.151011
Persons In Poverty                                                                           0.646342
White Persons In Poverty                                                                     0.302388
Black Persons In Poverty                                                                     0.546132
Name: Households With Income Less Than $10,000, dtype: float64

In [91]:
df_train_data_num_cols = []
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Households With Income Less Than $10,000"]>0.3) ].index.values)
df_train_data_num_cols.extend(df_train_data_num_corr[(df_train_data_num_corr["Households With Income Less Than $10,000"]<-0.3) ].index.values)

In [92]:
df_train_data_num_cols

['Black',
 'Minority',
 'Aggregate Rent Spent By All Renter Housing Units',
 'Rental Units For Which Rent Expenditures Calculated',
 'Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit',
 'Households With Income Less Than $10,000',
 'Households With Income $10,000-$14,999',
 'Households With Income $15,000-$19,999',
 'Households With Income $25,000-$29,999',
 'Persons In Poverty',
 'White Persons In Poverty',
 'Black Persons In Poverty']

In [93]:
df_train_data_num_col_filtered=df_train_data_num[df_train_data_num_cols]

In [94]:
df_train_data_num_col_filtered.head()

,Black,Minority,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income Less Than $10,000","Households With Income $10,000-$14,999","Households With Income $15,000-$19,999","Households With Income $25,000-$29,999",Persons In Poverty,White Persons In Poverty,Black Persons In Poverty
107,140,303,292413.0,435,0,26,24,69,62,168,161,0
695,618,647,47028.0,132,43,61,30,7,26,108,10,88
600,187,460,455629.0,756,27,126,110,74,123,318,224,12
797,45,117,48248.0,60,0,6,16,48,5,58,58,0
623,96,238,13712.0,16,18,15,21,74,36,285,78,204

In [95]:
(df_train_data_num.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Farming, Forestry, Or Fishing                          0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Carpool                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Drove Alone                        0
Work Classification Of Residents 16 Or Older - Unpaid Family Workers                         0
Work Classification Of Residents 16 Or Older - Self-Employed Workers                         0
Work Classification Of Residents 16 Or Older - Government Workers                            0
Work Classification Of Residents 16 Or Older - Private Non-Profit Wage And Salary Workers    0
Work Classification Of Residents 16 Or Older - Private For-Profit Wage And Salary Workers    0
Occupation Of Residents 16 Or Older - Production, Transportation And Material Moving         0
Occupation Of Residents 16 Or Older - Construction, Extraction And Maintenance               0
Occupation Of Residents 16 Or Older - Services                                               0
White Persons In Poverty                                                                     0
Occupation Of Residents 16 Or Older - Sales, Office And Administrative Support               0
Occupation Of Residents 16 Or Older - Professional And Managerial                            0
Rental Units For Which Rent Expenditures Calculated                                          0
Aggregate Rent Spent By All Renter Housing Units                                             0
Housing Units                                                                                0
Minority                                                                                     0
Black                                                                                        0
White                                                                                        0
Female                                                                                       0
Male                                                                                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Taxicab                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Motorcycle                         0
Means Of Travel To Work Of Employed Persons 16 Or Older - Bicycle                            0
Means Of Travel To Work Of Employed Persons 16 Or Older - Walked                             0
Persons In Poverty                                                                           0
Black Persons Among Whom Poverty Status Was Determined                                       0
White Persons Among Whom Poverty Status Was Determined                                       0
Households With Income $200,000 Or More                                                      0
Households With Income $150,000-$199,999                                                     0
Households With Income $125,000-$149,999                                                     0
Households With Income $100,000-$124,999                                                     0
Households With Income $75,000-$99,999                                                       0
Households With Income $60,000-$74,999                                                       0
Households With Income $50,000-$59,999                                                       0
Households With Income $45,000-$49,999                                                       0
Households With Income $40,000-$44,999                                                       0
Households With Income $35,000-$39,999                                                       0
Households With Income $30,000-$34,999                                                       0
Households With Income $25,000-$29,999                                                       0
Households With Income $20,000-$24,999                                                       0
Households With Income $15,000-$19,999                                                       0
Households With Income $10,000-$14,999                                                       0
Households With Income Less Than $10,000                                                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Worked At Home                     0
Means Of Travel To Work Of Employed Persons 16 Or Older - Other Means                        0
Population                                                                                   0
dtype: int64

In [96]:
#As there are no null values found,
# There is no need to find either mean,mode,median and replace them

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
le=LabelEncoder()

In [99]:
df_train_data_cat.head()

      County
107     Clay
695  Jackson
600  Jackson
797   Platte
623  Jackson

In [100]:
(df_train_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [101]:
df_train_data_cat1=df_train_data_cat.apply(le.fit_transform)

In [102]:
df_train_data_cat1.head()

     County
107       1
695       2
600       2
797       3
623       2

In [103]:
from sklearn.linear_model import LinearRegression

In [104]:
Linreg=LinearRegression()

In [105]:
traindf1=pd.concat([df_train_data_num_col_filtered,df_train_data_cat1],axis=1)

In [106]:
X1=traindf1.drop(["Households With Income Less Than $10,000"],axis=1)

In [107]:
y=traindf1["Households With Income Less Than $10,000"]

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.3)

In [110]:
df_test_data_num=df_test_data.select_dtypes(include=[np.number])
df_test_data_cat=df_test_data.select_dtypes(include=['object'])

In [111]:
df_train_data_num_cols.remove('Households With Income Less Than $10,000')

In [112]:
df_train_data_num_col_filtered=df_test_data_num[df_train_data_num_cols]

In [113]:
(df_train_data_num_col_filtered.isnull().sum().sort_values(ascending=False))

Black Persons In Poverty                                                    0
White Persons In Poverty                                                    0
Persons In Poverty                                                          0
Households With Income $25,000-$29,999                                      0
Households With Income $15,000-$19,999                                      0
Households With Income $10,000-$14,999                                      0
Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit    0
Rental Units For Which Rent Expenditures Calculated                         0
Aggregate Rent Spent By All Renter Housing Units                            0
Minority                                                                    0
Black                                                                       0
dtype: int64

In [114]:
(df_test_data_cat.isnull().sum().sort_values(ascending=False))

County    0
dtype: int64

In [115]:
df_test_data_cat1=df_test_data_cat.apply(le.fit_transform)

In [116]:
testdf1=pd.concat([df_train_data_num_col_filtered,df_test_data_cat1],axis=1)

In [117]:
testdf1.head()

,Black,Minority,Aggregate Rent Spent By All Renter Housing Units,Rental Units For Which Rent Expenditures Calculated,Means Of Travel To Work Of Employed Persons 16 Or Older - Public Transit,"Households With Income $10,000-$14,999","Households With Income $15,000-$19,999","Households With Income $25,000-$29,999",Persons In Poverty,White Persons In Poverty,Black Persons In Poverty,County
733,172,279,134312.0,232,33,24,28,15,213,53,128,2
2,50,220,128954.0,177,8,9,14,32,151,121,0,0
291,258,360,112486.0,214,22,43,47,18,164,105,59,2
512,428,500,14902.0,53,0,0,0,19,116,34,75,2
199,67,147,104354.0,205,0,0,26,41,53,49,9,1

In [118]:
from sklearn.tree import DecisionTreeRegressor

In [119]:
DecTree=DecisionTreeRegressor()

In [120]:
from sklearn.ensemble import RandomForestRegressor

In [121]:
RandFor=RandomForestRegressor(n_estimators=5000)

In [122]:
from sklearn.ensemble import GradientBoostingRegressor

In [123]:
GBM=GradientBoostingRegressor(n_estimators=3000)

In [124]:
LM=Linreg.fit(X_train,y_train)

In [125]:
LM.score(X_train,y_train)

0.6607244491294811

In [126]:
dt_M=DecTree.fit(X_train,y_train)

In [127]:
dt_M.score(X_train,y_train)

1.0

In [128]:
rf_M=RandFor.fit(X_train,y_train)

In [129]:
rf_M.score(X_train,y_train)

0.9307463540151153

In [130]:
gb_M=GBM.fit(X_train,y_train)

In [131]:
gb_M.score(X_train,y_train)

0.9999999992689795

In [132]:
from sklearn.metrics import accuracy_score, r2_score

In [133]:
gb_y_pred = gb_M.predict(X_test)
rf_y_pred = rf_M.predict(X_test)
lm_y_pred = LM.predict(X_test)

In [134]:
r2_score(y_test,gb_y_pred)

0.5754978080816744

In [135]:
r2_score(y_test,rf_y_pred)

0.5899629937592787

In [136]:
r2_score(y_test,lm_y_pred)

0.6118390376787022

In [137]:
y_eval=gb_M.predict(testdf1)

In [138]:
pd.DataFrame(y_eval).to_csv('income.csv')